.profile {
  min-height: 100vh;
  background-image: url("../../images/login-background.jpg");
  background-size: cover;

  &__paper {
    padding: 40px 60px;
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 40px !important;
  }

  &__card {
    width: 240px;
    height: 160px;
    padding: 16px 32px;
    position: relative;
  }

  &__button {
    margin-top: 24px !important;
  }
}
